<!DOCTYPE html>
<html>
  <head>
    <title>Record</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar mb-3">
      <div class="container">
        <h1><%= link_to "Record(title)",root_path %></h1>
        <nav>
          <ul class="nav justify-content-end">
            <li><%= link_to "About",about_path ,class:"nav-items mx-5" %></li>
          
              <li><%= link_to "Log in",login_path ,class:"nav-items mx-5" %></li>
              <li><%= link_to "Log out","#" ,class:"nav-items mx-5" %></li>
          </ul>
        </nav>
      </div>
    </header>



    <%= yield %>
  </body>
</html>
